.question-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-word;
}

.circle {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    padding: 12px;
    background: white;
    border: 3px solid #000;
    color: black;
    text-align: center;
    font: 16px Arial, sans-serif;
}

.username-unfollow-follow {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.username {
    margin-left: .4rem;
    margin-right: .4rem;
}
