.profile-dropdown {
  position: absolute;
  background-color: white;
  list-style: none;
}

.hidden {
  display: none;
}

.navbar-container {
  background-color: #282828;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: auto;
  list-style: none;
  width: 50%;

}

.title {
  font-weight: bold;
  text-decoration: none;
}

.title,
.current,
.fa-book,
.fa-home,
.logo {
  font-size: 2rem;
  text-decoration: none;
}

.logo {
  color: rgb(245, 41, 54);
}

.title,
.active {
  color: rgb(245, 41, 54);
}

.answer-item {
  color: white;
  list-style: none;
}

.footer {
  position: fixed;
  color: rgb(245, 41, 54);
  bottom: 0;
  width: 100%;
  display: inline-block;
  background-color: #282828;
  border: solid 1px black;
  z-index: 1;
  left: 0;
}
