.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: auto;
  list-style: none;
  background-color: #282828;
}

.title {
  font-weight: bold;
}

.title,
.current,
.fa-book,
.fa-home {
  font-size: 2rem;
}

.title,
.current {
  color: rgb(245, 41, 54);
}
