.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  list-style: none;
}

.title {
  font-size: 2rem;
  color: rgb(245, 41, 54);
}

.current {
  font-size: 2rem;
  color: rgb(245, 41, 54);
}

.fa-home,
.fa-book {
  font-size: 2rem;
}
