.answer-container {
    margin: auto;
    width: 40rem;
    min-height: 3rem;
    margin-bottom: .5rem;
    background-color: #282828;
    padding: .7rem;
    border-radius: 1.5rem;

}

.answer-content {
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: .5rem;
}

.username-initials {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.username-answer {
    margin-left: 1.5rem;
    color: white;
}
